<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="NetCoreDev2.0" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="NetCoreDev2.0" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>